/* Importing fonts*/
@font-face {
    font-family: inboundcycle;
    src: local("inboundcycle"),
        url(../fonts/helveticaneue-medium.ttf) format("truetype"), 
        url(../fonts/myriad-pro-regular.ttf) format("truetype");
  }
  
  /* ------ css reset ------ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none; 
    font-family: "inboundcycle";
}

/* 
    size-desktop: 1280px - padding side 60px
    size-tablet: 960px     
    size-phone: 768px
*/

body {
    justify-items: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    height: 139px;
    margin: 0 auto; 
    padding: 0 60px;  
}

.logotype {
    max-width: 277px;
    max-height: 38px;
}

ul.social-icons {
    display: flex;  
}

i.fa {
    font-size: 20px;
    margin: 5px;
    color: #ED5900;
    transition: 0.2s ease;
}

i.fa:hover {
    transform: scale(1.2);
}

.separator-image {
    background-image: url(../img/separator-image.jpg);
    width: 100%;
    height: 148px;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        flex-direction: column;
        padding: 0px; 
    }
}